@import "tailwindcss";

html{
    scroll-behavior: smooth !important;
}
.book-crm{
    background-image: url('./book-crm-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}